# Copyright (C) 2023 The Android Open Source Project PersonalBuild
#
# Dynamic configuration common for all android devices
#

on early-init
	write /proc/sys/kernel/sysrq 0
	write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 1
	write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1
	write /dev/stune/nnapi-hal/schedtune.boost 1
	write /dev/stune/nnapi-hal/schedtune.prefer_idle 1
	write /proc/sys/kernel/panic_on_oops 0
	write /proc/sys/kernel/hung_task_timeout_secs 0
	write /proc/cpu/alignment 4
	write /proc/sys/kernel/sched_tunable_scaling 0
	write /proc/sys/kernel/sched_latency_ns 10000000
	write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
	write /proc/sys/kernel/sched_child_runs_first 0
	write /proc/sys/kernel/randomize_va_space 2
	write /proc/sys/vm/mmap_min_addr 32768
	write /proc/sys/net/unix/max_dgram_qlen 24000
	write /proc/sys/abi/swp 1
	write /proc/sys/vm/watermark_boost_factor 0
	write /sys/kernel/tracing/instances/bootreceiver/buffer_size_kb 1
	write /sys/kernel/tracing/instances/bootreceiver/trace_options disable_on_free
	write /sys/kernel/tracing/instances/bootreceiver/events/error_report/error_report_end/enable 0

on boot && property:ro.config.low_ram=true
	write /proc/sys/vm/dirty_expire_centisecs 200
	write /proc/sys/vm/dirty_background_ratio 10
	resetprop -v -n ro.config.low_ram true

on boot && property:suspend.disable_sync_on_suspend=false
	write /sys/power/sync_on_suspend 1
	resetprop -v -n suspend.disable_sync_on_suspend false

on property:perf.drop_caches=3
	write /proc/sys/vm/drop_caches 3
    resetprop -v -n perf.drop_caches 3

on boot
	write /proc/sys/net/core/xfrm_acq_expires 3600
	write /proc/sys/vm/overcommit_memory 1
	write /proc/sys/vm/min_free_order_shift 4
	write /dev/sys/fs/by-name/userdata/cp_interval 200
	write /dev/sys/fs/by-name/userdata/gc_urgent_sleep_time 50
	write /dev/sys/fs/by-name/userdata/iostat_period_ms 1000
	write /dev/sys/fs/by-name/userdata/iostat_enable 0
	write /dev/sys/fs/by-name/userdata/seq_file_ra_mul 128
	write /dev/sys/block/by-name/userdata/queue/discard_max_bytes 134217728
	write /dev/sys/block/by-name/rootdisk/queue/discard_max_bytes 134217728

on load_bpf_programs && property:sys.init.perf_lsm_hooks=1
	write /proc/sys/kernel/perf_event_paranoid -1
on property:security.perf_harden=0 && property:sys.init.perf_lsm_hooks=""
	write /proc/sys/kernel/perf_event_paranoid 1
on property:security.perf_harden=1 && property:sys.init.perf_lsm_hooks=""
	write /proc/sys/kernel/perf_event_paranoid 3

on property:security.perf_harden=0
	write /proc/sys/kernel/perf_event_max_sample_rate ${debug.perf_event_max_sample_rate:-100000}
	write /proc/sys/kernel/perf_cpu_time_max_percent ${debug.perf_cpu_time_max_percent:-25}
	write /proc/sys/kernel/perf_event_mlock_kb ${debug.perf_event_mlock_kb:-516}
	resetprop -v -n security.perf_harden 0
on property:security.perf_harden=1
	write /proc/sys/kernel/perf_event_max_sample_rate 100000
	write /proc/sys/kernel/perf_cpu_time_max_percent 25
	write /proc/sys/kernel/perf_event_mlock_kb 516
	resetprop -v -n security.perf_harden 1

on property:security.lower_kptr_restrict=1
	write /proc/sys/kernel/kptr_restrict 0
on property:security.lower_kptr_restrict=0
	write /proc/sys/kernel/kptr_restrict 2

on property:persist.device_config.mglru_native.lru_gen_config=none
	write /sys/kernel/mm/lru_gen/enabled 0
on property:persist.device_config.mglru_native.lru_gen_config=core
	write /sys/kernel/mm/lru_gen/enabled 1
on property:persist.device_config.mglru_native.lru_gen_config=core_and_mm_walk
	write /sys/kernel/mm/lru_gen/enabled 3
on property:persist.device_config.mglru_native.lru_gen_config=core_and_nonleaf_young
	write /sys/kernel/mm/lru_gen/enabled 5
on property:persist.device_config.mglru_native.lru_gen_config=all
	write /sys/kernel/mm/lru_gen/enabled 7
